 /* Highlighted Blog Post */
 .blog-content div.highlight {
    transform: scale(1.2);
    z-index: 10;
  }

  /* Blur Unselected Posts */
  .blog-content.highlight-active div:not(.highlight) {
    filter: blur(3px);
    opacity: 0.5;
  }
