 /* Responsive Design */
 @media (max-width: 768px) {
    .content h1 {
      font-size: 2rem;
    }

    .content p {
      font-size: 1rem;
    }

    .daily-thoughts {
      font-size: 20px;
    }
  }

  @media (max-width: 750px) {
    .blog-content {
      grid-template-columns: 1fr 1fr;
    }
  } 

  @media (min-width: 751px) and (max-width: 999px) {
    .blog-content {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (min-width: 1000px) {
    .blog-content {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }